body {
    margin: 0px;
    padding: 0px;
    font-family: 'Eczar', serif;
    font-size: 30px;
    height: 100%;
}

@media (max-width: 900px) {
    body {
        font-size: 20px;
    }
}

/* TOP NAVIGATION BAR */

.nav {
    display: flex;
    width: 100%;
    background-color: #321E53;
    margin: 0px;
    padding: 0px;
    height: 7vh;
}

.nav li {
    display: inline-block;
    padding: 15px;
}

.logo {
    height: 75px;
    width: 75px;
    padding-left: 50px;
    padding-top: 3px;
}

.logo-wrapper {
    padding: 0px 0px 0px 0px !important;
    height: 85px;
}

.title {
    color: #F1F1F1;
    margin-left: 35px;
}

.nav-right {
    margin-left: auto;
    color: #F1F1F1;
    margin-right: 200px;
}

/* 3 PRIMARY ELEMENTS */

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    height: 93vh;
}

.description {
    background-color: #FFFFFF;
    width: 100%;
}

.description-text-wrapper {
    width: 50%;
    margin: auto;
    padding-top: 15vh;
}

/* Center-right primary element with information on future events. */
.calendar {
    background-color: #F4F4F4;
    width: 100%;
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3; 
    padding-top: 50px;
    padding-bottom: 50px;
}

.calendar-title {
    text-align: center;
}

.calendar-event {
    margin: 0px;
    text-align: center;
}

.calendar span {
    color: #696969;
}

.learn {
    width: 100%;
    position: relative;
}

#campus {
    filter: blur(3px);
    width: 100%;
}

.learn button {
    left: 40%;
    top: 40%;
    position: absolute;
    background-color: #ECAC00;
    border: none;
    font-weight: bold;
    font-size: 30px;
    width: 300px;
    height: 90px;
}

/* BOTTOM NAVIGATION BAR */

.bottom {
    bottom: 0px;
    position: fixed;
    background-color: #321E53;
    margin: 0px;
    padding: 0px;
    width: 100%;
    color: #C6C6C6;
}

.bottom p {
    padding-left: 75px;
}

.bottom p span {
    color: #DDD0AD;
}